.btn {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}